@model UserRegistrationViewModel

<h1>@WebApplication_Artur.Localize.Lang.Login</h1>

<form action="/User/Login" method="post">

    @Html.HiddenFor(x => x.ReturnUrl)

    <div>

        @Html.TextBoxFor(x => x.Login)

    </div>

    <div>

        @Html.TextBoxFor(x => x.Password)

    </div>

    <div>

        @Html.ValidationMessageFor(x => x.Login)

    </div>

    <div>

        <input type="submit" value="Login" />

    </div>

</form>
