@model RegistrationViewModel

@section Head{
    <script src="~/js/registration.js"></script>
}


<form action="/User/Registration" method="post">

    <div>

        <div>
            @WebApplication_Artur.Localize.Lang.YourName
        </div>

        <div class="textBox">
            @Html.TextBoxFor(x => x.Name)
        </div>

    </div>

    <div>

        <div>
            @WebApplication_Artur.Localize.Lang.SpecifyMail
        </div>

        <div class="textBox">
            @Html.TextBoxFor(x => x.Login)
        </div>

    </div>

    <div>

        <div class="textBox">
            @WebApplication_Artur.Localize.Lang.PickAPassword
        </div>

        <div class="textBox">
            @Html.TextBoxFor(x => x.Password)
        </div>

    </div>

    <div class="inutRegistration">
        <input type="submit" value="@WebApplication_Artur.Localize.Lang.Register" />
    </div>

</form>
