<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/user.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/bike.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/localize.js"></script>

    @RenderSection("Head", false)
</head>

<body class="body">

    <div class="header">

        <div class="name-of-the-site">

            @WebApplication_Artur.Localize.Lang.NameOfTheSite

        </div>

        @if (User.Identity.IsAuthenticated)
        {

            <div class="exit-registration">
                <a class="linqCollor" href="/User/Logout">Выход</a>
            </div>

        }
        else
        {
            <div class="user">
                <a class="linqCollor" href="/User/Login"> @WebApplication_Artur.Localize.Lang.Login</a>
                /
                <a class="linqCollor" href="/User/Registration">@WebApplication_Artur.Localize.Lang.Register</a>

            </div>
        }
    </div>

    <div class="center-block">

        <div class="menu">
            <div class="inmenu">

                <a class="linqCollor" href="/Home/Index">
                    <div class="menuCell">
                        @WebApplication_Artur.Localize.Lang.Home
                    </div>
                </a>

                <a class="linqCollor" href="/Bike/AddBike">
                    <div class="menuCell">
                        @WebApplication_Artur.Localize.Lang.SellABike
                    </div>
                </a>

                <a class="linqCollor" href="/Bike/All">
                    <div class="menuCell">
                        @WebApplication_Artur.Localize.Lang.GalleryOfOffers
                    </div>
                </a>

                <a class="linqCollor" href="/User/All">
                    <div class="menuCell">
                        @WebApplication_Artur.Localize.Lang.UserList
                    </div>
                </a>

                <div class="menuCell">
                    <a class="linqCollor" href="/User/All">страница пользователя</a>
                </div>

                <div class="menuCell">
                    <a class="linqCollor" href="/User/All">велосипеды по фильтрам и цене</a>
                </div>

                <div class="menuCell">
                    <a class="linqCollor" href="/User/All">Список избранных велосипедов</a>
                </div>

                <div class="menuCell">
                    <a class="linqCollor" href="/User/All">сравнение избранных</a>
                </div>

            </div>

        </div>

        <div class="content">
            @RenderBody()
        </div>

    </div>

    <div class="footer">

        <select class="language">

            <option value="ru-RU">RU</option>
            <option value="en-EN">EN</option>
            <option value="es-ES">ES</option>

        </select>

        подвал

    </div>

</body>

</html>
