<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/user.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/bike.css" />
    <link rel="stylesheet" href="~/css/spares.css" />

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/localize.js"></script>

    @RenderSection("Head", false)
</head>

<body class="body">

    <div class="header">

        <div class="name-of-the-site">

            @WebApplication_Artur.Localize.Lang.NameOfTheSite

        </div>

        @if (User.Identity.IsAuthenticated)
        {

            <div class="exit-registration">
                <a class="linqCollor" href="/User/Logout">Выход</a>
            </div>

        }
        else
        {
            <div class="user">
                <a class="linqCollor" href="/User/Login"> @WebApplication_Artur.Localize.Lang.Login</a>
                /
                <a class="linqCollor" href="/User/Registration">@WebApplication_Artur.Localize.Lang.Register</a>

            </div>
        }
    </div>

    <div class="center-block">

        <div class="menu">
            <div class="inmenu">

                <div class="menuCell">
                    <a class="linqCollor" href="/Home/Index">@WebApplication_Artur.Localize.Lang.Home</a>
                </div>

                
                <div class="menuCell">
                    <a class="linqCollor" href="/Bike/AddBike">@WebApplication_Artur.Localize.Lang.SellABike</a>
                </div>

                <div class="menuCell">
                    <a class="linqCollor" href="/Bike/All">@WebApplication_Artur.Localize.Lang.GalleryOfOffers</a>
                </div>

                <div class="menuCell">
                    <a class="linqCollor" href="/User/All">@WebApplication_Artur.Localize.Lang.UserList</a>
                </div>

                <div class="menuCell">
                    <a class="linqCollor" href="/User/Rasrabotka">страница пользователя</a>
                </div>

                <div class="menuCell">
                    <a class="linqCollor" href="/User/Rasrabotka">велосипеды по фильтрам и цене</a>
                </div>

                <div class="menuCell">
                    <a class="linqCollor" href="/User/Rasrabotka">Список избранных велосипедов</a>
                </div>

                <div class="menuCell">
                    <a class="linqCollor" href="/User/Rasrabotka">сравнение избранных</a>
                </div>

            </div>

        </div>

        <div class="content">
            @RenderBody()
        </div>

    </div>

    <div class="footer">

        <select class="language">

            <option value="ru-RU">RU</option>
            <option value="en-EN">EN</option>
            <option value="es-ES">ES</option>

        </select>

        подвал

    </div>

</body>

</html>
