@model BikeViewModel

<div>
    <div>

        Модель велосипеда - @Model.Name

    </div>
    <div class="pageBikeContent">

        <div>
            <img src="@Model.Page" alt="Page" />

            <div>
               редактировать фото
            </div>

        </div>

        <div>

            <div>
                характеристики компанентов
            </div>

            <div>
                цена
            </div>

            <div>
                редактировать характеристики
            </div>

            <div>
                @foreach (var CommentUs in @Model.Comments)
                {

                    <div>
                        Имя юзера  @CommentUs.User
                    </div>

                    <div>
                        Его комент @CommentUs.Name
                    </div>

                    <div>
                        -------------------------------
                    </div>

                }

            </div>

        </div>

    </div>

</div>
