@using WebApplication_Artur.Services
@inject UserService userService

@model SharedViewModel

<div>
    <div class="pageBikeName-Delete">

        <div class="pageBikeName">
            Модель велосипеда - @Model.Name
        </div>

        @if (userService.IsAdminOrOwner(Model.Id))
        {
            <div class="bikeDeket">
                <a class="linqCollor" href="/Bike/Remove?id=@Model.Id">
                    <img src="~/image/defolt/Delete2.png" alt="@WebApplication_Artur.Localize.Lang.DeleteUser" class="bikeDel" id="2" />
                </a>
            </div>
        }

    </div>
    <div class="pageBikeContent">

        <div>
            <img src="@Model.Page" alt="Page" class="bigPageBike" />

            <div class="change">
                редактировать фото
            </div>

        </div>

        <div class="pageBikeInfo">

            <div>

                @if (@Model.BikeSize > 0)
                {
                    <div class="change">
                        Размер рамы: @Model.BikeSize '
                    </div>
                }

                @if (@Model.WheelDiametr > 0)
                {
                    <div class="change">
                        Размер колёс: @Model.WheelDiametr мм
                    </div>
                }

                @if (@Model.BrakeDiametr > 0)
                {
                    <div class="change">
                        Тормозные диски: @Model.BrakeDiametr мм
                    </div>
                }

                @if (@Model.FrontChainrings > 0 || @Model.FrontChainrings > 0)
                {

                    <div class="change">

                        Количество передачь:

                        @if (@Model.FrontChainrings > 0)
                        {
                            @Model.RearChainrings
                        }
                        /
                        @if (@Model.FrontChainrings > 0)
                        {
                            @Model.FrontChainrings
                        }

                    </div>
                }

            </div>

            @if (userService.IsOwner(Model.Id))
            {
                <div>
                    <div class="bikeLing">
                        <a class="linqCollor" href="/SharedBike/Add?id=@Model.Id">редактироваь ттх</a>
                    </div>
                </div>
            }


            <div>

                <div class="changeThePrice"> @Model.Price BYN </div>

                @if (userService.IsOwner(Model.Id))
                {

                    <a class="linqCollor" href="/Bike/UpdatePrice?id=@Model.Id">изменить цену</a>

                }

            </div>

        </div>

    </div>

    <div>
        @foreach (var CommentUs in @Model.Comments)
        {

            <div>
                Имя юзера  @CommentUs.User
            </div>

            <div>
                <div>
                    Его комент @CommentUs.Text
                </div>

                <div>
                    Его комент @CommentUs.DateTime
                </div>
            </div>

            <div>
                -------------------------------
            </div>

        }

@*        <form action="/Bike/UpdatePrice?" method="post">

            <style type="text/css">
                .pooof {
                    display: none;
                }

                .addOneSharedBike {
                    padding: 10px;
                }

                .addBlock {
                    margin: 30px;
                    background: #d1e6f1;
                    display: block;
                    width: fit-content;
                    justify-content: center;
                    align-content: flex-start;
                    flex-wrap: nowrap;
                    border-radius: 8px;
                    box-shadow: 5px 4px 6px 0px #25448233;
                }

                .inputaddBlock {
                    background-color: #eff3f8;
                    font-family: cursive;
                    color: #86b7e1;
                    width: 100%;
                    border-radius: 4px;
                }

                .inputaddBlock:hover {
                    background-color: #86b7e1;
                    color: #eff3f8;
                }

            </style>

            <div class="addBlock">

                <input class="pooof" name="idBike" value=@Model.Id />


                <div class="addOneSharedBike">
                    @Html.EditorFor(x => x.Price)  - новая цена.
                </div>

                <div class="addOneSharedBike">
                    <input type="submit" value="обновить" class="inputaddBlock" />
                </div>

            </div>


        </form>*@
        комментарии
    </div>

</div>
