@using  WebApplication_Artur.Services
@inject UserService userService

@model SharedViewModel

<div>
    <div class="pageBikeName-Delete">

        <div class="pageBikeName">
            Модель велосипеда - @Model.Name
        </div>

        @if (userService.IsAdminOrOwner(Model.Owner.Id)) 
        {
            <div class="bikeDeket">
                <a class="linqCollor" href="/Bike/Remove?id=@Model.Id">
                    <img src="~/image/defolt/Delete2.png" alt="@WebApplication_Artur.Localize.Lang.DeleteUser" class="bikeDel" id="2" />
                </a>
            </div>
        }

    </div>
    <div class="pageBikeContent">

        <div>
            <img src="@Model.Page" alt="Page" class="bigPageBike" />

            @if (userService.IsAdminOrOwner(Model.Owner.Id))
            {
                <div class="change">
                    <a class="linqCollor" href="/User/Rasrabotka">редактировать фото</a>
                </div>
            }

        </div>

        <div class="pageBikeInfo">

            <div class="ttxCap">
                Xарактеристики компанентов
            </div>

            <div class="ttxContent">
                <div class="ttxPillar">

                    <div class="ttxString">
                        @Html.DisplayNameFor(x => x.BikeClass)
                    </div>

                    @if (@Html.ValueFor(x => x.BikeSize).ToString() != "0")
                    {
                        <div class="ttxString">
                            @Html.DisplayNameFor(x => x.BikeSize)
                        </div>

                    }

                    @if (@Html.ValueFor(x => x.Shared.BrakeDiametr).ToString() != "0")
                    {
                        <div class="ttxString">
                            @Html.DisplayNameFor(x => x.Shared.BrakeDiametr)
                        </div>
                    }

                    @if (@Html.ValueFor(x => x.Shared.FrontChainrings).ToString() != "0")
                    {
                        <div class="ttxString">
                            @Html.DisplayNameFor(x => x.Shared.FrontChainrings)
                        </div>
                    }

                    @if (@Html.ValueFor(x => x.Shared.RearChainrings).ToString() != "0")
                    {
                        <div class="ttxString">
                            @Html.DisplayNameFor(x => x.Shared.RearChainrings)
                        </div>
                    }

                    @if (@Html.ValueFor(x => x.Shared.WheelDiameter).ToString() != "0")
                    {
                        <div class="ttxString">
                            @Html.DisplayNameFor(x => x.Shared.WheelDiameter)
                        </div>
                    }

                    @if (@Html.ValueFor(x => x.Shared.BrakeDiametr).ToString() != "0")
                    {
                        <div class="ttxString">
                            @Html.DisplayNameFor(x => x.Shared.BrakeDiametr)
                        </div>
                    }

                </div>
                <div class="ttxPillar">

                    <div class="ttxString">
                        @Html.ValueFor(x => x.BikeClass)
                    </div>

                    @if (@Html.ValueFor(x => x.BikeSize).ToString() != "0")
                    {

                        <div class="ttxString">
                            @Html.ValueFor(x => x.BikeSize)
                        </div>
                    }
                    @if (@Html.ValueFor(x => x.Shared.BrakeDiametr).ToString() != "0")
                    {
                        <div class="ttxString">
                            @Html.ValueFor(x => x.Shared.BrakeDiametr)
                        </div>
                    }

                    @if (@Html.ValueFor(x => x.Shared.FrontChainrings).ToString() != "0")
                    {
                        <div class="ttxString">
                            @Html.ValueFor(x => x.Shared.FrontChainrings)
                        </div>
                    }

                    @if (@Html.ValueFor(x => x.Shared.RearChainrings).ToString() != "0")
                    {
                        <div class="ttxString">
                            @Html.ValueFor(x => x.Shared.RearChainrings)
                        </div>
                    }

                    @if (@Html.ValueFor(x => x.Shared.WheelDiameter).ToString() != "0")
                    {
                        <div class="ttxString">
                            @Html.ValueFor(x => x.Shared.WheelDiameter)
                        </div>
                    }

                    @if (@Html.ValueFor(x => x.Shared.BrakeDiametr).ToString() != "0")
                    {

                        <div class="ttxString">
                            @Html.ValueFor(x => x.Shared.BrakeDiametr)
                        </div>
                    }

                </div>

            </div>

            <div class="ttxRedactor">
                @if (userService.IsAdminOrOwner(Model.Owner.Id))
                {
                    <div class="bikeLing">
                        <a class="collorUrl" href="/SharedBike/Add?id=@Model.Id">редактироваь ттх</a>
                    </div>
                }

            </div>

            <div class="ttxCorrect">
                @if (userService.IsAdminOrOwner(Model.Owner.Id))
                {

                        <a class="collorUrl" href="/SharedBike/EditPrices?id=@Model.Id">редактироваь цену / </a> 

                }

                 @Model.Price BYN

            </div>

        </div>

    </div>

    <div>

        <div>
            Комментарии
        </div>

        @foreach (var CommentUs in @Model.Comments)
        {

            <div>
                Имя юзера  @CommentUs.User
            </div>

            <div>
                Его комент @CommentUs.Name
            </div>

            <div>
                -------------------------------
            </div>

        }
             комментарии
    </div>

</div>
