@model BikeViewModel

<div>

    <div>

        страница отдельного велосипеда

    </div>

    <div>

        Модель велосипеда - @Model.Name

    </div>

    <div>

        Стоимость - @Model.Price

    </div>

    <div>

        тут должна быть ссылка на редоктирование/изменение данных

    </div>

    <div>
        @foreach (var CommentUs in @Model.Comments)
        {

            <div>
                Имя юзера  @CommentUs.User 
            </div>

            <div>
                Его комент @CommentUs.Name
            </div>

            <div>
                -------------------------------
            </div>

        }

    </div>

    <div>

        удалить байк

    </div>

</div>
